@import "/css/csstemplate/all.css";
@import "/css/csstemplate/mdb.min.css";
@import "/css/csstemplate/animate.min.css";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
}

th {
    font-weight: bold !important;
}

td:last-child {
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: bold;
}

.content {
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.title {
    font-weight: bold;
    padding-top: 1.5rem;
    text-align: center;
}

.form-infor {
    position: relative;
    top: 50px;
    width: 450px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.form-infor>.input-group {
    margin: 1.5rem 2rem 0rem 2rem;
    width: auto;
}

.action {
    margin: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}